.DS_Store

.config/zsh/.oh*
.config/zsh/.zsh_history
.config/zsh/.zcompdump-*
.config/zsh/.zcompdump
.config/zsh/.zsh_sessions
.config/zsh/antigen

.config/nvim/plugin
.config/nvim.bak

.config/karabiner/automatic_backups/
