# This is Git's per-user configuration file.
[user]
  name = rwxmad
  email = rwxmad@gmail.com

[github]
	user = rwxmad

[core]
  pager = delta

[color]
  ui = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
  side-by-side = false
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[pull]
  rebase = true

[alias]
  p = push
  d = diff
  st = status
  ci = commit
  st = status
  br = branch
  co = checkout
  cm = commit -m
  ca = commit -a
