[Desktop Entry]
Type=Application
Name=Bluetooth
Comment=Bluetooth
Exec=launch-or-focus-tui bluetui
Icon=bluetooth
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=bluetui
