[Desktop Entry]
Type=Application
Name=Network
Comment=Network settings
Exec=launch-or-focus-tui impala
Icon=wireless
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=impala
