[Desktop Entry]
Type=Application
Name=WiFi
Comment=WiFi settings
Exec=launch-or-focus-tui impala
Icon=wireless
Terminal=false
Categories=Utility;
StartupNotify=false
StartupWMClass=impala
