@define-color text #ebdbb2;
@define-color selected-text #98971a;
@define-color base #282828;
@define-color background #282828;

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 14px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: rgba(20, 20, 19, 0.9);

  backdrop-filter: blur(18px);
  -gtk-backdrop-filter: blur(18px);

  border-radius: 16px;

  border: 1px solid rgba(20, 20, 19, 0.5);

  padding: 12px;
}

.search-container {
  background: transparent;
  padding: 10px;
}

.input placeholder {
  opacity: 1;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

child:selected .item-box {
  background: rgba(214, 93, 14, 0.8);
}

child:selected .item-box * {
  color: @base;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}
